@import url("https://rsms.me/inter/inter.css");

body, h1, h2, h3, h4, p, a {
    margin: 0;
    font-family: Inter, sans-serif;
}

.input-error {
    color: #FF2F2F;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uL3NyYy9jc3MvY29tbW9uLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSw4Q0FBOEM7O0FBRTlDO0lBQ0ksU0FBUztJQUNULDhCQUE4QjtBQUNsQzs7QUFFQTtJQUNJLGNBQWM7QUFDbEIiLCJmaWxlIjoiY29tbW9uLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIkBpbXBvcnQgdXJsKFwiaHR0cHM6Ly9yc21zLm1lL2ludGVyL2ludGVyLmNzc1wiKTtcclxuXHJcbmJvZHksIGgxLCBoMiwgaDMsIGg0LCBwLCBhIHtcclxuICAgIG1hcmdpbjogMDtcclxuICAgIGZvbnQtZmFtaWx5OiBJbnRlciwgc2Fucy1zZXJpZjtcclxufVxyXG5cclxuLmlucHV0LWVycm9yIHtcclxuICAgIGNvbG9yOiAjRkYyRjJGO1xyXG59Il19 */