.error-page {
    font-style: normal;
    text-align: center;
}

.error-page_number {
    position: absolute;
    width: 80px;
    height: 40px;
    left: 600px;
    top: 280px;

    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    /* identical to box height, or 100% */

    color: #1E1E1E;
}

.error-page_desc {
    position: absolute;
    width: 180px;
    height: 20px;
    left: 550px;
    top: 340px;

    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height, or 100% */

    color: #1E1E1E;
}

.error-page_link {
    position: absolute;
    width: 78px;
    height: 11px;
    left: 600px;
    top: 429px;

    font-weight: 500;
    font-size: 11px;
    line-height: 11px;
    /* identical to box height, or 100% */

    color: #3369F3;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uL3NyYy9jc3MvZXJyb3JzLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtJQUNJLGtCQUFrQjtJQUNsQixrQkFBa0I7QUFDdEI7O0FBRUE7SUFDSSxrQkFBa0I7SUFDbEIsV0FBVztJQUNYLFlBQVk7SUFDWixXQUFXO0lBQ1gsVUFBVTs7SUFFVixnQkFBZ0I7SUFDaEIsZUFBZTtJQUNmLGlCQUFpQjtJQUNqQixxQ0FBcUM7O0lBRXJDLGNBQWM7QUFDbEI7O0FBRUE7SUFDSSxrQkFBa0I7SUFDbEIsWUFBWTtJQUNaLFlBQVk7SUFDWixXQUFXO0lBQ1gsVUFBVTs7SUFFVixnQkFBZ0I7SUFDaEIsZUFBZTtJQUNmLGlCQUFpQjtJQUNqQixxQ0FBcUM7O0lBRXJDLGNBQWM7QUFDbEI7O0FBRUE7SUFDSSxrQkFBa0I7SUFDbEIsV0FBVztJQUNYLFlBQVk7SUFDWixXQUFXO0lBQ1gsVUFBVTs7SUFFVixnQkFBZ0I7SUFDaEIsZUFBZTtJQUNmLGlCQUFpQjtJQUNqQixxQ0FBcUM7O0lBRXJDLGNBQWM7QUFDbEIiLCJmaWxlIjoiZXJyb3JzLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi5lcnJvci1wYWdlIHtcclxuICAgIGZvbnQtc3R5bGU6IG5vcm1hbDtcclxuICAgIHRleHQtYWxpZ246IGNlbnRlcjtcclxufVxyXG5cclxuLmVycm9yLXBhZ2VfbnVtYmVyIHtcclxuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcclxuICAgIHdpZHRoOiA4MHB4O1xyXG4gICAgaGVpZ2h0OiA0MHB4O1xyXG4gICAgbGVmdDogNjAwcHg7XHJcbiAgICB0b3A6IDI4MHB4O1xyXG5cclxuICAgIGZvbnQtd2VpZ2h0OiA1MDA7XHJcbiAgICBmb250LXNpemU6IDQwcHg7XHJcbiAgICBsaW5lLWhlaWdodDogNDBweDtcclxuICAgIC8qIGlkZW50aWNhbCB0byBib3ggaGVpZ2h0LCBvciAxMDAlICovXHJcblxyXG4gICAgY29sb3I6ICMxRTFFMUU7XHJcbn1cclxuXHJcbi5lcnJvci1wYWdlX2Rlc2Mge1xyXG4gICAgcG9zaXRpb246IGFic29sdXRlO1xyXG4gICAgd2lkdGg6IDE4MHB4O1xyXG4gICAgaGVpZ2h0OiAyMHB4O1xyXG4gICAgbGVmdDogNTUwcHg7XHJcbiAgICB0b3A6IDM0MHB4O1xyXG5cclxuICAgIGZvbnQtd2VpZ2h0OiA1MDA7XHJcbiAgICBmb250LXNpemU6IDIwcHg7XHJcbiAgICBsaW5lLWhlaWdodDogMjBweDtcclxuICAgIC8qIGlkZW50aWNhbCB0byBib3ggaGVpZ2h0LCBvciAxMDAlICovXHJcblxyXG4gICAgY29sb3I6ICMxRTFFMUU7XHJcbn1cclxuXHJcbi5lcnJvci1wYWdlX2xpbmsge1xyXG4gICAgcG9zaXRpb246IGFic29sdXRlO1xyXG4gICAgd2lkdGg6IDc4cHg7XHJcbiAgICBoZWlnaHQ6IDExcHg7XHJcbiAgICBsZWZ0OiA2MDBweDtcclxuICAgIHRvcDogNDI5cHg7XHJcblxyXG4gICAgZm9udC13ZWlnaHQ6IDUwMDtcclxuICAgIGZvbnQtc2l6ZTogMTFweDtcclxuICAgIGxpbmUtaGVpZ2h0OiAxMXB4O1xyXG4gICAgLyogaWRlbnRpY2FsIHRvIGJveCBoZWlnaHQsIG9yIDEwMCUgKi9cclxuXHJcbiAgICBjb2xvcjogIzMzNjlGMztcclxufSJdfQ== */