.sign-background {
    position: absolute;
    width: 340px;
    height: auto;
    left: 470px;
    top: 15px;
    padding-bottom: 15px;
}

.login-background {
    position: absolute;
    width: 340px;
    height: 460px;
    left: 470px;
    top: 130px;
}

.sign-form {
    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
}

.sign-form_title {
    text-align: center;

    margin-top: 70px;
    margin-bottom: 40px;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height, or 100% */

    color: #1E1E1E;
}

.sign-form_input-block_label {
    margin: 0 30px 16px 30px;
    color: #999999;
}

.sign-form_label {
    font-size: 9px;
}

.sign-form_input {
    font-size: 13px;
    border: none;
    border-bottom: 1px solid #3369F3;
    width: 100%;
}

.sign-form_button-block {
    text-align: center;
    margin-top: 64px;
    display: grid;
}

.sign-form_button-block-form_submit {
    width: 280px;
    height: 37px;
    background: #3369F3;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    margin: auto;
}

.sign-form_button-block-form_cancel {
    font-size: 11px;
    color: #3369F3;
    background-color: #FFFFFF;
    border: none;
    margin-top: 14px;
}

.sign-form_input-error {
    color: #FF2F2F;
}

.sign-form_error-text {
    height: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 8px;
    color: #FF2F2F;
    margin-top: 5px;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uL3NyYy9jc3Mvc2lnbi5jc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7SUFDSSxrQkFBa0I7SUFDbEIsWUFBWTtJQUNaLFlBQVk7SUFDWixXQUFXO0lBQ1gsU0FBUztJQUNULG9CQUFvQjtBQUN4Qjs7QUFFQTtJQUNJLGtCQUFrQjtJQUNsQixZQUFZO0lBQ1osYUFBYTtJQUNiLFdBQVc7SUFDWCxVQUFVO0FBQ2Q7O0FBRUE7SUFDSSxtQkFBbUI7SUFDbkIsMkNBQTJDO0lBQzNDLG1CQUFtQjtBQUN2Qjs7QUFFQTtJQUNJLGtCQUFrQjs7SUFFbEIsZ0JBQWdCO0lBQ2hCLG1CQUFtQjs7SUFFbkIsa0JBQWtCO0lBQ2xCLGdCQUFnQjtJQUNoQixlQUFlO0lBQ2YsaUJBQWlCO0lBQ2pCLHFDQUFxQzs7SUFFckMsY0FBYztBQUNsQjs7QUFFQTtJQUNJLHdCQUF3QjtJQUN4QixjQUFjO0FBQ2xCOztBQUVBO0lBQ0ksY0FBYztBQUNsQjs7QUFFQTtJQUNJLGVBQWU7SUFDZixZQUFZO0lBQ1osZ0NBQWdDO0lBQ2hDLFdBQVc7QUFDZjs7QUFFQTtJQUNJLGtCQUFrQjtJQUNsQixnQkFBZ0I7SUFDaEIsYUFBYTtBQUNqQjs7QUFFQTtJQUNJLFlBQVk7SUFDWixZQUFZO0lBQ1osbUJBQW1CO0lBQ25CLGtCQUFrQjtJQUNsQixZQUFZO0lBQ1osY0FBYztJQUNkLFlBQVk7QUFDaEI7O0FBRUE7SUFDSSxlQUFlO0lBQ2YsY0FBYztJQUNkLHlCQUF5QjtJQUN6QixZQUFZO0lBQ1osZ0JBQWdCO0FBQ3BCOztBQUVBO0lBQ0ksY0FBYztBQUNsQjs7QUFFQTtJQUNJLFdBQVc7SUFDWCxrQkFBa0I7SUFDbEIsbUJBQW1CO0lBQ25CLGVBQWU7SUFDZixnQkFBZ0I7SUFDaEIsY0FBYztJQUNkLGVBQWU7QUFDbkIiLCJmaWxlIjoic2lnbi5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyIuc2lnbi1iYWNrZ3JvdW5kIHtcclxuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcclxuICAgIHdpZHRoOiAzNDBweDtcclxuICAgIGhlaWdodDogYXV0bztcclxuICAgIGxlZnQ6IDQ3MHB4O1xyXG4gICAgdG9wOiAxNXB4O1xyXG4gICAgcGFkZGluZy1ib3R0b206IDE1cHg7XHJcbn1cclxuXHJcbi5sb2dpbi1iYWNrZ3JvdW5kIHtcclxuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcclxuICAgIHdpZHRoOiAzNDBweDtcclxuICAgIGhlaWdodDogNDYwcHg7XHJcbiAgICBsZWZ0OiA0NzBweDtcclxuICAgIHRvcDogMTMwcHg7XHJcbn1cclxuXHJcbi5zaWduLWZvcm0ge1xyXG4gICAgYmFja2dyb3VuZDogI0ZGRkZGRjtcclxuICAgIGJveC1zaGFkb3c6IDBweCAwcHggNnB4IHJnYmEoMCwgMCwgMCwgMC4xNCk7XHJcbiAgICBib3JkZXItcmFkaXVzOiAxMnB4O1xyXG59XHJcblxyXG4uc2lnbi1mb3JtX3RpdGxlIHtcclxuICAgIHRleHQtYWxpZ246IGNlbnRlcjtcclxuXHJcbiAgICBtYXJnaW4tdG9wOiA3MHB4O1xyXG4gICAgbWFyZ2luLWJvdHRvbTogNDBweDtcclxuXHJcbiAgICBmb250LXN0eWxlOiBub3JtYWw7XHJcbiAgICBmb250LXdlaWdodDogNTAwO1xyXG4gICAgZm9udC1zaXplOiAyMHB4O1xyXG4gICAgbGluZS1oZWlnaHQ6IDIwcHg7XHJcbiAgICAvKiBpZGVudGljYWwgdG8gYm94IGhlaWdodCwgb3IgMTAwJSAqL1xyXG5cclxuICAgIGNvbG9yOiAjMUUxRTFFO1xyXG59XHJcblxyXG4uc2lnbi1mb3JtX2lucHV0LWJsb2NrX2xhYmVsIHtcclxuICAgIG1hcmdpbjogMCAzMHB4IDE2cHggMzBweDtcclxuICAgIGNvbG9yOiAjOTk5OTk5O1xyXG59XHJcblxyXG4uc2lnbi1mb3JtX2xhYmVsIHtcclxuICAgIGZvbnQtc2l6ZTogOXB4O1xyXG59XHJcblxyXG4uc2lnbi1mb3JtX2lucHV0IHtcclxuICAgIGZvbnQtc2l6ZTogMTNweDtcclxuICAgIGJvcmRlcjogbm9uZTtcclxuICAgIGJvcmRlci1ib3R0b206IDFweCBzb2xpZCAjMzM2OUYzO1xyXG4gICAgd2lkdGg6IDEwMCU7XHJcbn1cclxuXHJcbi5zaWduLWZvcm1fYnV0dG9uLWJsb2NrIHtcclxuICAgIHRleHQtYWxpZ246IGNlbnRlcjtcclxuICAgIG1hcmdpbi10b3A6IDY0cHg7XHJcbiAgICBkaXNwbGF5OiBncmlkO1xyXG59XHJcblxyXG4uc2lnbi1mb3JtX2J1dHRvbi1ibG9jay1mb3JtX3N1Ym1pdCB7XHJcbiAgICB3aWR0aDogMjgwcHg7XHJcbiAgICBoZWlnaHQ6IDM3cHg7XHJcbiAgICBiYWNrZ3JvdW5kOiAjMzM2OUYzO1xyXG4gICAgYm9yZGVyLXJhZGl1czogOHB4O1xyXG4gICAgYm9yZGVyOiBub25lO1xyXG4gICAgY29sb3I6ICNGRkZGRkY7XHJcbiAgICBtYXJnaW46IGF1dG87XHJcbn1cclxuXHJcbi5zaWduLWZvcm1fYnV0dG9uLWJsb2NrLWZvcm1fY2FuY2VsIHtcclxuICAgIGZvbnQtc2l6ZTogMTFweDtcclxuICAgIGNvbG9yOiAjMzM2OUYzO1xyXG4gICAgYmFja2dyb3VuZC1jb2xvcjogI0ZGRkZGRjtcclxuICAgIGJvcmRlcjogbm9uZTtcclxuICAgIG1hcmdpbi10b3A6IDE0cHg7XHJcbn1cclxuXHJcbi5zaWduLWZvcm1faW5wdXQtZXJyb3Ige1xyXG4gICAgY29sb3I6ICNGRjJGMkY7XHJcbn1cclxuXHJcbi5zaWduLWZvcm1fZXJyb3ItdGV4dCB7XHJcbiAgICBoZWlnaHQ6IDhweDtcclxuICAgIGZvbnQtc3R5bGU6IG5vcm1hbDtcclxuICAgIGZvbnQtd2VpZ2h0OiBub3JtYWw7XHJcbiAgICBmb250LXNpemU6IDExcHg7XHJcbiAgICBsaW5lLWhlaWdodDogOHB4O1xyXG4gICAgY29sb3I6ICNGRjJGMkY7XHJcbiAgICBtYXJnaW4tdG9wOiA1cHg7XHJcbn0iXX0= */